
        body {
            background-color: black;
            color: white;
            font-family: Verdana, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .header {
            font-size: 50px;
            font-weight: normal;
            margin-top: 30px;
        }
        .download-link {
            color: aquamarine;
            font-size: 16px;
            display: block;
            margin-bottom: 20px;
        }
        .phone-image {
            width: 300px;
            height: auto;
            margin: 20px auto;
        }
        .sub-header {
            color: gray;
            font-size: 21px;
        }
        .guide-text {
            font-size: 42px;
            font-weight: 300;
            margin-top: 30px;
        }
        .info-text {
            color: gray;
            margin: 10px auto;
            width: 70%;
        }
        .tent-image {
            width: 80%;
            height: auto;
            margin: 20px 0;
        }
        .coming-soon {
            font-size: 42px;
            color: white;
            margin-top: 20px;
        }
        .icon {
            font-size: 50px;
            margin-bottom: 10px;
        }
        .footer-link {
            color: aquamarine;
            font-size: 16px;
            text-align: right;
            display: block;
            margin: 20px;
        }

        .phone-container {
            position: relative;
            width: 300px; /* Adjust as needed */
            height: 600px; /* Adjust as needed */
            margin: 0 auto;
        }
        
        .phone-image {
            width: 100%;
            height: auto;
        }
        
        .phone-video {
            position: absolute;
            top: 10%; /* Adjust as needed */
            left: 10%; /* Adjust as needed */
            width: 80%; /* Adjust as needed */
            height: 80%; /* Adjust as needed */
            border-radius: 20px; /* Adjust as needed */
        }
  